.jumbotron {
  padding: 50px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("./background.jpeg");
  color: white;
  background-color: #eee;
}

/* .banner button {
  display: inline-block;
  margin-top: 50px;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
} */

/* .col-md-4 {
  text-align: center;
} */
